<!DOCTYPE html>
<html lang="en">
<section id="Section1">
        <article id="imagen1">
             <img src="/assets/images/about.jpg" alt="logo" class="img-tahumbail">
        </article>
        <article id="texto1">
            <h1>Acerca de nosotros</h1>
            <h2>GameShop</h2>
            <p>El negocio propuesto consiste en ofrecer servicios y productos de entretenimiento digital vía videojuegos en un local comercial. Dentro del local se ofrecerán los servicios principales como : la venta de videojuegos, y venta de consolas listas para el juego en línea.</p>    
            <button>Mas info</button>
        </article>
</section>