<section id="Section3">
    <article>
        <div>
            <li>Direccion</li>
            <h2><p><span>Cdla. Los Nevados</span></p> </h2>
            <li>Email</li>
            <h2><p><a href="mailto:gameshop@gmail.com">gameshop@gmail.com</a></p></h2>
            <li>Telefono</li>
            <h2><p><a href="tel:099 2549 276">099 2549 276</a></p></h2>
        </div>
        </article>
</section>
        