<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=DotGothic16&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<section class="Encabezado">
        <div>
            <header>
                <h1>Mientras mas grande el desafio la Mayor el sentimiento de Victoria</h1>
                <h2>GameShop </h1>   
                <button>Explorar</button>
            </header>          
        </div>
    </section>
    <figure>
        <img src="assets/images/encabezado.jpg" alt="encabezado">
    </figure>

